@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This is a sample host application with Ogle controller added via NuGet. Ogle allows you to view server <a href="/ogle/logs">logs</a> and request <a href="/ogle/metrics">metrics</a>.
        You can also view Ogle <a href="/ogle/config">configuration</a>.
    </p>
</div>

