@using Ogle;
@using System.Linq;
@model ErrorViewModel;
@{
    Layout = Model.Layout ?? "_OgleLayout";
    ViewBag.Title = "Invalid Ogle Configuration";

    var message = string.Join("\n", Model.ErrorMessages.Select(i => $"<li>{i}</li>"));

    message = $"<ul>\n{message}\n</ul>\n";
}
<link rel="stylesheet" href="~/_content/Ogle/css/site.css" />
<style>
    #errorContainer {
        margin-top: 20px;
        background-color: #ffdddd;
        color: red;
        border: 2px solid red;
    }

    .errorMessage {
        margin: 10px 20px 10px 20px;
    }
</style>

<picture>
    <source media="(prefers-color-scheme: dark)" srcset="~/_content/Ogle/images/ogle-inverted.svg" />
    <source media="(prefers-color-scheme: light)" srcset="~/_content/Ogle/images/ogle.svg" />
    <img id="logo" src="~/_content/Ogle/images/ogle.svg" />
</picture>

<h4>@(ViewBag.Title)</h4>

<div id="errorContainer">
    <div class="errorMessage">@Html.Raw(message)</div>
</div>
